.map-container-map {
    position: relative!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    height: calc(100vh - 290px)!important;
    min-height: 200px!important;
}

google-map{
    .map-container {
        position: relative!important;
        top: 0!important;
        left: 0!important;
        right: 0!important;
        bottom: 0!important;
        height: calc(100vh - 290px)!important;
        min-height: 200px!important;
    }
    div{
        position: relative!important;
        top: 0!important;
        left: 0!important;
        right: 0!important;
        bottom: 0!important;
        height: calc(100vh - 290px)!important;
        min-height: 200px!important;
    }
}

.map-frame {
    height: 100%;
}

#map {
    height: 100%;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none !important;
}

.button-indicator {
    position: absolute;
    left: 0px;
    bottom: 120px;
    z-index: 999;
}

.material-icons.color_green {
    color: #00ff00;
}
.material-icons.color_red {
    color: #ff0000;
}
