<app-spinner></app-spinner>
<div fxFlexFill class="page-container" fxLayout="column" fxLayoutGap="8px">
  <!-- TOP   -->
  <div fxFlex="64px" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="8px">

    <!-- TOP LEFT -->
    <div fxFlex="64px" fxFlex.gt-sm="250px" fxLayoutAlign="center stretch">
      <span fxFlex="auto" fxLayoutAlign="center center" class="box-dark" fxLayoutGap="8px">
        <img class="rotate" fxFlex="50px" src="../../assets/images/logo/iconWhite.png">
        <img fxHide fxShow.gt-sm fxFlex="170px" src="../../assets/images/logo/nameWhite.png">
      </span>
    </div>

    <!-- TOP RIGHT -->
    <div fxFlex="auto">
      <span fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center" class="box-dark">
        <img fxFlexOffset="12px" class="top-right-menu-image" fxShow fxHide.gt-sm src="../../assets/images/logo/nameWhite.png">
        <span *ngIf="isAuthenticated" fxFlexOffset="12px" fxHide fxShow.gt-xs>{{menuService.getMenuLabel()}}</span>
        <span *ngIf="!isAuthenticated" fxFlexOffset="12px" fxHide fxShow.gt-xs>Home</span>
        <div fxFlex>&nbsp;</div>
        <div fxLayoutAlign="end center" fxLayoutGap="8px">
          <!-- <ng-container *ngIf="isAuthenticated">
            <div
              [ngClass]="menuTopRightItem.value !== menuService.pageSelected ? 'mad-menu-top-button fade' : 'mad-menu-top-button-selected fade-selected'"
              *ngFor="let menuTopRightItem of menuService.getPage('top-right')" fxFlex="100px" fxLayout="column"
              fxLayoutAlign="center center" (click)="menuService.selectPage(menuTopRightItem.value)"
              [style.box-shadow]="'unset!important'">
              <div [fxFlexOrder]="menuTopRightItem.value !== menuService.pageSelected ? 2 : 4">
                <mat-icon>{{menuTopRightItem.icon}}</mat-icon>
              </div>
              <div [fxFlexOrder]="menuTopRightItem.value !== menuService.pageSelected ? 4 : 2">
                {{menuTopRightItem.label}}</div>
            </div>
          </ng-container> -->
          <!-- <ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar> -->
          <button mat-icon-button [matMenuTriggerFor]="menu" class="avatar-menu">
            <img *ngIf="isAuthenticated" class="avatar-menu" [src]="user!.photoURL || 'assets/images/user.png'">
            <img *ngIf="!isAuthenticated" class="avatar-menu" [src]="'assets/images/user.png'">
          </button>
          <mat-menu #menu="matMenu">
            <div *ngIf="isAuthenticated" class="menu-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
              <img *ngIf="isAuthenticated" class="avatar-menu" [src]="user!.photoURL || 'assets/images/user.png'">
              <div fxFlex fxLayout="column">
                <div class="avatar-menu-name">{{user?(user.displayName?user.displayName:''):''}}</div>
                <div class="avatar-menu-email">{{user?(user.email?user.email:''):''}}</div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <button *ngIf="isAuthenticated" mat-menu-item (click)="menuService.selectItem('dashboard')">
              <mat-icon>dashboard</mat-icon>
              Dashboard
            </button>
            <mat-divider></mat-divider>
            <button *ngIf="!isAuthenticated" mat-menu-item (click)="initAuth()">
              <mat-icon>login</mat-icon>
              Sign in
            </button>
            <button *ngIf="isAuthenticated" mat-menu-item (click)="userService.signOut()">
              <mat-icon>logout</mat-icon>
              Sign out
            </button>
            <button *ngIf="isAuthenticated" mat-menu-item (click)="menuService.selectItem('profile')">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </button>
            <!-- <button *ngIf="isAuthenticated" mat-menu-item (click)="initAuth()">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </button> -->
          </mat-menu>
        </div>
        <div fxFlex="16px">&nbsp;</div>
      </span>
    </div>
  </div>

  <!-- MIDDLE -->
  <div fxFlex fxLayout="row" fxLayoutGap="8px">
    <div fxFlex="auto" fxLayout="column" fxLayoutGap="8px">
      <span fxFlex fxLayout="column" class="box-light">

        <!-- TOP MENU -->
        <ng-container *ngIf="isAuthenticated">
          <div fxFlex="64px" fxLayoutAlign="space-between stretch" fxLayout="row" class="page-inner-top"
            *ngIf="menuService.getMenu().length > 0" fxLayoutGap="2px">
            <div
              [ngClass]="menuItem.value !== menuService.menuSelected ? 'mad-menu-button' : 'mad-menu-button-selected'"
              *ngFor="let menuItem of menuService.getMenu()" fxLayout="column" fxLayoutAlign="center center"
              (click)="menuService.selectItem(menuItem.value)" fxFlex>
              <div [fxFlexOrder]="menuItem.value !== menuService.menuSelected ? 2 : 4">
                <mat-icon>{{menuItem.icon}}</mat-icon>
              </div>
              <div [fxFlexOrder]="menuItem.value !== menuService.menuSelected ? 4 : 2">
                {{menuItem.label}}</div>
            </div>
          </div>
          <div fxFlex="64px" fxLayoutAlign="space-between stretch" fxLayout="row" class="mad-sub-menu"
            *ngIf="menuService.getSubMenu().length > 0" fxLayoutGap="2px">
            <div
              [ngClass]="subMenuItem.value !== menuService.subMenuSelected ? 'mad-sub-menu-button' : 'mad-sub-menu-button-selected'"
              *ngFor="let subMenuItem of menuService.getSubMenu()" fxLayout="column" fxLayoutAlign="center center"
              (click)="menuService.selectItem(subMenuItem.value)" fxFlex>
              <div>
                <mat-icon></mat-icon>
              </div>
              <div [fxFlexOrder]="subMenuItem.value !== menuService.subMenuSelected ? 4 : 2">
                {{subMenuItem.label}}</div>
            </div>
          </div>
        </ng-container>

        <!-- BODY -->
        <div fxFlex fxLayout="column" class="router-container">
          <div fxFlex fxLayout="column">
            <router-outlet></router-outlet>
          </div>
          <div fxFlex fxLayout="column" fxLayoutAlign="space-between stretch" [fxShow]="menuService.menuSelected !== 'loads-available' && menuService.selectedItem !== 'profile'" fxHide.gt-sm>
            <advert fxFlex [side]="false"></advert>
          </div>
        </div>
      </span>

      <!-- BOTTOM MENU -->
      <div fxFlex="72px" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="2px" *ngIf="isAuthenticated">
        <div fxFlex [ngClass]="menuInnerItem.value !== menuService.pageSelected ? 'mad-button' : 'mad-button-selected'"
          *ngFor="let menuInnerItem of menuService.getPage('bottom')" fxLayout="column" fxLayoutAlign="center center"
          (click)="menuService.selectItem(menuInnerItem.value)" fxFlex>
          <div [fxFlexOrder]="menuInnerItem.value !== menuService.pageSelected ? 2 : 4">
            <mat-icon>{{menuInnerItem.icon}}</mat-icon>
          </div>
          <div [fxFlexOrder]="menuInnerItem.value !== menuService.pageSelected ? 4 : 2">
            {{menuInnerItem.label}}</div>
        </div>
      </div>

      <div fxFlex="2px" *ngIf="!isAuthenticated">&nbsp;</div>
    </div>

    <!-- RIGHT PANEL -->
    <span fxFlex="240px" fxLayout="column" fxLayoutAlign="start stretch" fxHide fxShow.gt-sm>
      <span fxFlex fxLayout="column" fxLayoutAlign="start stretch"
        style="height: calc(100vh - 82px)!important;min-height: calc(100vh - 82px)!important;max-height: calc(100vh - 82px)!important;overflow-y: auto!important;">
        <advert [side]="true"></advert>
      </span>
      <div fxFlex="10px">&nbsp;</div>
    </span>
  </div>
</div>