// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// // @use '@angular/material' as mat;
// // Plus imports for other components in your app.
// @import url('./styles-loadgistix.scss');

// // // Include the common styles for Angular Material. We include this here so that you only
// // // have to load a single css file for Angular Material in your app.
// // // Be sure that you only ever include this mixin once!
// // @include mat.core();

// // // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // // hue. Available color palettes: https://material.io/design/color/
// // $loadgistix-fire-primary: mat.define-palette(mat.$indigo-palette);
// // $loadgistix-fire-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // // The warn palette is optional (defaults to red).
// // $loadgistix-fire-warn: mat.define-palette(mat.$red-palette);

// // // Create the theme object. A theme consists of configurations for individual
// // // theming systems such as "color" or "typography".
// // $loadgistix-fire-theme: mat.define-light-theme((
// //   color: (
// //     primary: $loadgistix-fire-primary,
// //     accent: $loadgistix-fire-accent,
// //     warn: $loadgistix-fire-warn,
// //   )
// // ));

// // // Include theme styles for core and each component used in your app.
// // // Alternatively, you can import and @include the theme mixins for each component
// // // that you are using.
// // @include mat.all-component-themes($loadgistix-fire-theme);

// // /* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$loadgistix-primary-palette: (
  50 : #ecf6fb,
  100 : #cee8f5,
  200 : #aed8ef,
  300 : #8ec8e8,
  400 : #75bde3,
  500 : #5db1de,
  600 : #55aada,
  700 : #4ba1d5,
  800 : #4198d1,
  900 : #3088c8,
  A100 : #ffffff,
  A200 : #daeeff,
  A400 : #a7d8ff,
  A700 : #8dccff,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  )
);

$loadgistix-accent-palette: (
  50 : #e4e5e7,
  100 : #bcbfc4,
  200 : #8f949d,
  300 : #626976,
  400 : #404958,
  500 : #1e293b,
  600 : #1a2435,
  700 : #161f2d,
  800 : #121926,
  900 : #0a0f19,
  A100 : #5a8cff,
  A200 : #2768ff,
  A400 : #0049f3,
  A700 : #0041da,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  )
);

$loadgistix-warn-palette: (
  50 : #fbeded,
  100 : #f6d1d1,
  200 : #f0b3b3,
  300 : #e99494,
  400 : #e57d7d,
  500 : #e06666,
  600 : #dc5e5e,
  700 : #d85353,
  800 : #d34949,
  900 : #cb3838,
  A100 : #ffffff,
  A200 : #ffe2e2,
  A400 : #ffafaf,
  A700 : #ff9696,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$loadgistix-primary: mat.define-palette(mat.$indigo-palette);
$loadgistix-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $loadgistix-primary: $loadgistix-primary-palette;//mat.define-palette(mat.$indigo-palette);
// $loadgistix-accent:$loadgistix-accent-palette;// mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$loadgistix-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$loadgistix-theme: mat.define-light-theme((color: (primary: $loadgistix-primary,
        accent: $loadgistix-accent,
        warn: $loadgistix-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($loadgistix-theme);

/* You can add global styles to this file, and also import other style files */
//@import "ngx-auth-firebaseui_theme";

html,
body {
  height: 100%;
  background-color: #D9D9D9;
  overflow: hidden !important;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;

  /* width */
  ::-webkit-scrollbar {
    width: 0px !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: unset !important; //inset 0 0 5px #1E293B;
    border-radius: 0px !important;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: unset !important; //#5DB1DE;
    border-radius: 0px !important; //30px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent !important; //#1E293B;
  }
}

.inner-width {
  min-width: calc(100vw - 290px) !important;
  max-width: calc(100vw - 290px) !important;
  width: calc(100vw - 290px) !important;
}

.inner-width-small {
  min-width: calc(100vw - 32px) !important;
  max-width: calc(100vw - 32px) !important;
  width: calc(100vw - 32px) !important;
}

.inner-height {
  min-height: calc(100vh - 250px) !important;
  max-height: calc(100vh - 250px) !important;
  height: calc(100vh - 250px) !important;
  overflow-y: auto !important;
}

.page-container {
  //height: calc(100vh - 20px)!important;
  padding: 10px !important;
  padding-bottom: 0px !important;
  min-width: 300px !important;
}

.top-right-menu-image {
  max-width: (calc(100vw - 250px));
  max-height: 30px;
  min-width: 150px;
}

.box-light {
  box-shadow: inset 0 0 5px; // #1E293B !important;
  border-radius: 12px !important;
  background-color: #FFF;
  color: #1E293B;
  overflow: hidden !important;
}

.box-dark {
  box-shadow: inset 0 0 5px; // #5db1de !important;
  border-radius: 12px !important;
  box-shadow: inset 0 0 5px; // #5db1de !important;
  background-color: #1E293B;
  color: #FFF;
  overflow: hidden !important;

  span {
    font-size: large;
  }
}

.map-menu {
  padding: 8px !important;
}

.map-menu-container {
  position: fixed !important;
  top: 208px !important;
  right: 330px !important;
  z-index: 3;
  background-color: #FFF;
}

.map-menu-container-small {
  position: fixed !important;
  top: 208px !important;
  right: 80px !important;
  z-index: 3;
  background-color: #FFF;
}

.map-control-menu {
  align-items: center !important;
  vertical-align: middle !important;
  width: 40px !important;
  height: 40px !important;
  z-index: 4;
}

.map-distance-control {
  position: fixed !important;
  top: 205px !important;
  //right: 280px !important;
  right: 330px !important;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.6);
  height: 67px;
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 1px;
}

.map-distance-control-small {
  position: fixed !important;
  top: 205px !important;
  //right: 30px !important;
  right: 80px !important;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.6);
  height: 67px;
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 1px;
}

.w-150 {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}

.w-220 {
  width: 220px !important;
  min-width: 220px !important;
  max-width: 220px !important;
}

.mat-mdc-fab.mat-accent,
.mat-mdc-mini-fab.mat-accent {
  --mdc-fab-container-color: #5db1de;
  background-color: #5db1de;
}


.mad-button {
  height: calc(100% - 8px) !important;
  margin-top: 8px !important;
  box-shadow: inset 0 0 5px; // #5db1de !important;
  border-radius: 12px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #1E293B;
  color: #FFF;
  cursor: pointer;
  font-weight: 100 !important;
  transition: all 750ms;
  z-index: 4;
}

.mad-button-selected {
  height: 100% !important;
  margin-top: 0 !important;
  box-shadow: inset 0 0 5px; // #1E293B !important;
  border-radius: 12px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #5db1de !important;
  color: #1E293B !important;
  cursor: pointer !important;
  font-weight: bolder !important;
  transform: scale(1.02, 1.05);
  z-index: 5;

  div {
    color: #1E293B !important;

    .mat-icon {
      color: #1E293B !important;
    }
  }
}

.mad-button:hover {
  height: 100% !important;
  margin-top: 0 !important;
  // box-shadow: inset 0 0 5px; // #1E293B !important;
  border-radius: 12px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #5db1de !important;
  color: #1E293B !important;
  cursor: pointer !important;
  font-weight: bold !important;
  transform: scale(1.02, 1.05);
  z-index: 2;

  div {
    color: #1E293B !important;

    .mat-icon {
      color: #1E293B !important;
    }
  }
}


.mad-menu-button {
  height: calc(100% - 8px) !important;
  box-shadow: inset 0 0 5px; // #5db1de !important;
  border-radius: 12px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: #1E293B;
  color: #FFF;
  cursor: pointer;
  font-weight: 100 !important;
  transition: all 750ms;
  z-index: 7;
}

.mad-menu-button-selected {
  height: 100% !important;
  box-shadow: inset 0 0 5px; // #1E293B !important;
  border-radius: 12px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: #5db1de !important;
  color: #1E293B !important;
  cursor: pointer !important;
  font-weight: bolder !important;
  transform: scale(1.02, 1.05);
  z-index: 8;

  div {
    color: #1E293B !important;

    .mat-icon {
      color: #1E293B !important;
    }
  }
}

.mad-menu-button:hover {
  height: 100% !important;
  box-shadow: inset 0 0 5px; // #1E293B !important;
  border-radius: 12px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: #5db1de !important;
  color: #1E293B !important;
  cursor: pointer !important;
  font-weight: bold !important;
  transform: scale(1.02, 1.05);
  z-index: 7;

  div {
    color: #1E293B !important;

    .mat-icon {
      color: #1E293B !important;
    }
  }
}


.mad-menu-top-button {
  border-radius: 12px !important;
  background-color: #1E293B;
  color: #FFF;
  cursor: pointer;
  font-weight: 100 !important;
  transition: all 750ms;
  z-index: 7;
}

.mad-menu-top-button-selected {
  border-radius: 12px !important;
  background-color: #5db1de !important;
  color: #1E293B !important;
  cursor: pointer !important;
  font-weight: bolder !important;
  transform: scale(1.02, 1.05);
  z-index: 8;

  div {
    color: #1E293B !important;

    .mat-icon {
      color: #1E293B !important;
    }
  }
}

.mad-menu-top-button:hover {
  border-radius: 12px !important;
  background-color: #5db1de !important;
  color: #1E293B !important;
  cursor: pointer !important;
  font-weight: bold !important;
  transform: scale(1.02, 1.05);
  z-index: 6;

  div {
    color: #1E293B !important;

    .mat-icon {
      color: #1E293B !important;
    }
  }
}



.mad-sub-menu {
  margin-top: -24px;
}

.mad-sub-menu-button {
  height: calc(100% - 8px) !important;
  box-shadow: inset 0 0 5px; // #5db1de !important;
  border-radius: 12px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: #5d697c !important;
  color: #FFF;
  cursor: pointer;
  font-weight: 100 !important;
  transition: all 750ms;
  z-index: 4;
}

.mad-sub-menu-button-selected {
  height: 100% !important;
  box-shadow: inset 0 0 5px; // #1E293B !important;
  border-radius: 12px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: #b0d2e4 !important;
  color: #1E293B !important;
  cursor: pointer !important;
  font-weight: bolder !important;
  transform: scale(1.02, 1.05);
  z-index: 6;

  div {
    color: #1E293B !important;

    .mat-icon {
      color: #1E293B !important;
    }
  }
}

.mad-sub-menu-button:hover {
  height: 100% !important;
  box-shadow: inset 0 0 5px; // #1E293B !important;
  border-radius: 12px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background-color: #b0d2e4 !important;
  color: #1E293B !important;
  cursor: pointer !important;
  font-weight: bold !important;
  transform: scale(1.02, 1.05);
  z-index: 5;

  div {
    color: #1E293B !important;

    .mat-icon {
      color: #1E293B !important;
    }
  }
}



.router-container {
  min-height: calc(100vh - 270px);
  height: calc(100vh - 270px);
  padding: 12px;
  padding-bottom: 24px;
  overflow-y: auto !important;
  margin-bottom: 12px !important;
}

.page-inner-top {
  background-color: transparent !important;
}

.tabs-inner-top {
  background-color: transparent !important;
  margin-top: -16px !important;
  margin-left: -12px !important;
  margin-right: -12px !important;
}

.avatar {
  margin-top: 8px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-round {
  margin-top: 8px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-table {
  min-width: 80px !important;
  max-width: 80px !important;
  width: 80px !important;
  min-height: 45px !important;
  max-height: 45px !important;
  height: 45px !important;
  cursor: pointer;
}

.avatar-form {
  min-width: 100px !important;
  max-width: 100px !important;
  width: 100px !important;
  min-height: 56.25px !important;
  max-height: 56.25px !important;
  height: 56.25px !important;
}

.avatar-menu {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
  border-radius: 50%;
  padding: 0 !important;
  // margin-top: 5px;
}

.avatar-menu-name {
  font-weight: bold !important;
}

.avatar-menu-email {
  font-size: small !important;
  font-style: italic !important;
  color: #8f949d !important;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.table-container {
  overflow-x: auto !important;
}

table {
  width: 100%;
}

.table-header {
  margin-bottom: 0;
  font-weight: bold;
}


.mat-form-field {
  font-size: 12px;
  //color:#3C3C3C;
  width: 100%;
  padding: 6px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.table-cell {
  font-size: 12px;
  //color:#3C3C3C;
}

// .table-header-column:after {
//   padding-left: 4px;
//   content: '';
//   position: absolute;
//   left: -8px;
//   top: 25%;
//   height: 50%;
//   border-left: 1px solid #C1C1C1;
// }

// .table-content-column:after {
//   padding-left: 4px;
//   content: '';
//   position: relative;
//   left: 0px;
//   top: 25%;
//   height: 50%;
//   border-left: 1px solid #C1C1C1;
// }
// .table-content-column{
//   border-left: 1px solid #C1C1C1;
// }

.cudColumn {
  padding-left: 0px !important;
  width: 88px !important;
  min-width: 88px !important;
  max-width: 88px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
  z-index: 101 !important;
}

.cudColumnExtra {
  padding-left: 0px !important;
  width: 120px !important;
  min-width: 120px !important;
  max-width: 120px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
  z-index: 101 !important;
}

.ctrlColumn {
  width: 38px;
  min-width: 38px;
  max-width: 38px;
  padding-right: 0px;
  margin-right: 0px;
  z-index: 3 !important;
}

.cudButton {
  width: 36px !important;
  height: 36px !important;
  padding: 2px !important;
}

// .dialog-title {
//   background-color: #e4e4e4;
//   margin-left: -24px !important;
//   margin-right: -24px !important;
//   margin-top: -24px !important;
//   margin-bottom: 0 !important;
//   padding-top: 10px !important;
//   padding-bottom: 0px !important;
//   padding-right: 16px !important;
//   padding-left: 16px !important;
//   display: flex !important;
//   font-size: x-large !important;
// }

// .dialog-footer {
//   background-color: #c5c6cb;
//   margin-left: -24px !important;
//   margin-right: -24px !important;
//   margin-top: 0 !important;
//   margin-bottom: -24px !important;
//   padding-top: 0px !important;
//   padding-bottom: 0px !important;
//   padding-right: 10px !important;
//   padding-left: 10px !important;
// }

// .mat-dialog-content {
//   padding: 0px;
//   padding-top: 12px !important;
//   padding-bottom: 12px !important;
//   margin-right: -24px;
//   margin-left: -24px;
//   padding-top: 12px;
// }

.mat-expansion-panel-header {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.mat-expansion-panel-body {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.menu-header {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 14px !important;
}

.dialog-container {
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-rows: 50px auto 50px;
  margin: 0;
  padding: 0;
}

.dialog-header {
  // background-color: #5DB1DE !important;
  // color: white;
  // padding: 4px !important;
  // padding-left: 8px !important;
  // padding-right: 8px !important;
  // border: unset !important;
  // border-radius: unset !important;
  // box-shadow: unset !important;

  // overflow: hidden;
  // background: #fff;
  // box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding-left: 8px;
  padding-right: 8px;
}

.dialog-button-close {
  margin-right: 4px !important;
}

.dialog-button-close-float {
  position: absolute !important;
  top: 4px;
  right: 4px;
  color: #283593 !important;
  background: #5DB1DE !important;
}

.content-dialog-scroll {
  height: 70vh !important;
  max-height: 70vh !important;
  min-height: 70vh !important;
  overflow: auto;
}

.content-dialog-no-scroll {
  max-height: 70vh !important;
  overflow: unset !important;
}

.content-dialog-image-upload {
  height: 350px !important;
  max-height: 350px !important;
  min-height: 350px !important;
  overflow: unset !important;
  padding: 0 !important;
}

.grid-container-avatar {
  display: grid;
  grid-template-columns: 200px 8px 110px auto;
  width: 90%;
  align-items: center;
  margin-bottom: 12px;
}

.dialog-content {
  width: 100%;
  //min-height: 70vh !important;
  max-height: 70vh !important;
  //height: 70vh !important;
  overflow-y: auto !important;
}

.dialog-footer {
  background-color: #5DB1DE !important;
  /* color: white; */
  /* border: unset !important; */
  /* border-radius: unset !important; */
  /* box-shadow: unset !important; */
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.dialog-footer-content {
  margin-left: 8px !important;
  margin-right: 8px !important;
}


.w-100-p {
  width: 100% !important;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}



.mat-card-item {
  cursor: pointer;
  margin: 12px;
}

.mat-card-item:hover .mat-card-selection {
  opacity: 1;
}

.mat-card-item.mat-elevation-z8 .mat-card-selection {
  opacity: 1;
}

.mat-card-selected {
  border: 3px solid #283593 !important;
}

.mat-card-not-selected {
  border: 1px solid #a3a3a3;
}

.mat-card-selection {
  opacity: 0;
  cursor: pointer;
  color: #283593;
  background: #fff;
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.mat-card-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.list-checkbox {
  position: absolute;
  top: 15px;
  right: 0;
  color: #5db1de;
}

.clean-card {
  border: none !important;
  border-radius: unset !important;
  background-color: unset !important;
  --mdc-elevated-card-container-color: unset !important;
  --mdc-elevated-card-container-elevation: unset !important;
  --mdc-elevated-card-container-shape: unset !important;
  --mdc-outlined-card-container-elevation: unset !important;
}

.object-cover {
  width: calc(100vw - 268px) !important;
  height: 200px;
  left: 10px;
  top: 129px;
  position: fixed;
  object-fit: cover;
  z-index: 1 !important;
}

.page-footer {
  background-color: #5DB1DE !important;
  width: calc(100vw - 268px) !important;
  height: 50px;
  left: 10px;
  bottom: 80px !important;
  position: fixed;
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
  z-index: 1 !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.avatar-profile {
  position: fixed;
  top: 280px;
  left: 50px;
  z-index: 10;
}

.avatar-logo {
  position: fixed;
  top: 270px;
  right: 330px;
  width: 125px;
  height: 125px;
  z-index: 10;
}

.avatar-name {
  position: fixed;
  top: 340px;
  left: 160px;
  z-index: 10;
}



.object-cover-small {
  width: calc(100vw - 20px) !important;
  height: 160px;
  left: 10px;
  top: 129px;
  position: fixed;
  object-fit: cover;
  z-index: 1 !important;
}

.page-footer-small {
  background-color: #5DB1DE !important;
  width: calc(100vw - 20px) !important;
  height: 50px;
  left: 10px;
  bottom: 80px !important;
  position: fixed;
  z-index: 1 !important;
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.avatar-profile-small {
  position: fixed;
  top: 240px;
  left: 50px;
  z-index: 10;
}

.avatar-logo-small {
  position: fixed;
  top: 260px;
  right: 330px;
  width: 125px;
  height: 125px;
  z-index: 10;
}

.avatar-name-small {
  position: fixed;
  top: 300px;
  left: 160px;
  z-index: 10;
}

.map-container {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: calc(100vh - 290px) !important;
  min-height: 200px !important;
  width: 100% !important;
}

// google-map{
//   position: relative!important;
//   top: 0!important;
//   left: 0!important;
//   right: 0!important;
//   bottom: 0!important;
//   height: calc(100vh - 290px)!important;
//   min-height: 200px!important;
//   width: 100%!important;
//   div{
//     position: relative!important;
//     top: 0!important;
//     left: 0!important;
//     right: 0!important;
//     bottom: 0!important;
//     height: calc(100vh - 290px)!important;
//     min-height: 200px!important;
//     width: 100%!important;
//   }
// }

.border-lrtb {
  border: 1px solid #919397 !important;
}

.border-r {
  border-right: 1px solid #919397 !important;
}

.map-legend {
  position: absolute !important;
  left: 30px !important;
  bottom: 100px !important;
  z-index: 999 !important;
  width: 100px !important;
  background-color: #FFF;
}

.map-legend-title {
  font-weight: bold !important;
  background-color: #D9D9D9 !important;
  align-self: center !important;
  align-items: center !important;
  text-align: center;
  ;
}

.map-legend-open {
  background-color: #5DB1DE !important;
}

.map-legend-bids {
  background-color: #F8EC07 !important;
}

.map-legend-accepted {
  background-color: #00FF00 !important;
}

.map-legend-en-route {
  background-color: #FF0000 !important;
}




// .input-area {
//   display: flex;
//   gap: 16px;
//   align-items: center;
// }

// .display-area {
//   display: flex;
//   gap: 16px;
//   align-items: flex-start;
//   height: calc(100vh - 180px);

//   >div {
//     width: 30%;
//     overflow: auto;
//     padding: 8px;
//     height: inherit;

//     >* {
//       margin-bottom: 16px;
//     }
//   }

//   >app-map-display {
//     width: 70%;
//     height: inherit;
//   }
// }

// .display-area[hidden] {
//   display: none;
// }

// .container {
//   padding: 24px;
// }

// app-place-autocomplete {
//   width: 300px;
// }